openapi: 3.2.0
info:
  title: WhoisFreaks Databases - Expiring & Dropped API
  description: 'Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting,

    IP Intelligence, Domain Reputation, and bulk database downloads.


    ## Authentication

    All requests require an `apiKey` query parameter.


    ## Resources

    - Docs: https://whoisfreaks.com/documentation

    - Billing: https://billing.whoisfreaks.com

    - Support: support@whoisfreaks.com

    '
  version: 1.0.0
  contact:
    name: WhoisFreaks Support
    email: support@whoisfreaks.com
    url: https://whoisfreaks.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.whoisfreaks.com
  description: API Solutions (live lookups)
- url: https://files.whoisfreaks.com
  description: Database file downloads
security:
- ApiKeyAuth: []
tags:
- name: Databases - Expiring & Dropped
  description: Expiring and dropped domain downloads
paths:
  /v3.1/download/domainer/expired:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Expiring Domains
      operationId: dbExpired
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
        required: true
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Expiring Domains. Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/expired/cleaned:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Expiring Cleaned WHOIS
      operationId: dbExpiredCleaned
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Expiring Cleaned WHOIS. Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/dropped:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Dropped Domains
      operationId: dbDropped
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
        required: true
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Dropped Domains. Returns the file/snapshot described by this operation.
  /v3.1/domains/dropped:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Dropped Domains (JSON)
      operationId: dbDroppedJson
      parameters:
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: JSON array of domains
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Dropped Domains (JSON). Returns the file/snapshot described by this operation.
  /v3.3/download/domainer/dropped/backlinks:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Dropped With Backlinks
      operationId: dbDroppedBacklinks
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Dropped With Backlinks. Returns the file/snapshot described by this operation.
components:
  responses:
    ErrorResponse:
      description: Error response (4XX)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
        path:
          type: string
        status: {}
        error:
          type: string
        message:
          type: string
        code:
          type: integer
      additionalProperties: true
      description: Error response. `status` may be an integer (e.g. 401), boolean, or string depending on the endpoint, so it is intentionally untyped to avoid deserialization failures.
  parameters:
    DateParam:
      name: date
      in: query
      schema:
        type: string
        format: date
      description: yyyy-MM-dd; omit for latest
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiKey
