openapi: 3.2.0
info:
  title: WhoisFreaks Databases - Newly Registered API
  description: 'Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting,

    IP Intelligence, Domain Reputation, and bulk database downloads.


    ## Authentication

    All requests require an `apiKey` query parameter.


    ## Resources

    - Docs: https://whoisfreaks.com/documentation

    - Billing: https://billing.whoisfreaks.com

    - Support: support@whoisfreaks.com

    '
  version: 1.0.0
  contact:
    name: WhoisFreaks Support
    email: support@whoisfreaks.com
    url: https://whoisfreaks.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.whoisfreaks.com
  description: API Solutions (live lookups)
- url: https://files.whoisfreaks.com
  description: Database file downloads
security:
- ApiKeyAuth: []
tags:
- name: Databases - Newly Registered
  description: Newly registered domain downloads
paths:
  /v3.1/download/domainer/gtld:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered gTLD (CSV)
      operationId: dbNewlyGtld
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
        required: true
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered gTLD (CSV). Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/cctld:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered ccTLD (CSV)
      operationId: dbNewlyCctld
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
        required: true
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered ccTLD (CSV). Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/gtld/cleaned:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered gTLD Cleaned WHOIS (CSV)
      operationId: dbNewlyGtldCleaned
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered gTLD Cleaned WHOIS (CSV). Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/cctld/cleaned:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered ccTLD Cleaned WHOIS (CSV)
      operationId: dbNewlyCctldCleaned
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered ccTLD Cleaned WHOIS (CSV). Returns the file/snapshot described by this operation.
  /v3.1/domains/newly/gtld:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered gTLD (JSON)
      operationId: dbNewlyGtldJson
      parameters:
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: JSON array of domains
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered gTLD (JSON). Returns the file/snapshot described by this operation.
  /v3.1/domains/newly/cctld:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered ccTLD (JSON)
      operationId: dbNewlyCctldJson
      parameters:
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: JSON array of domains
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered ccTLD (JSON). Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/newly/dns:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered With DNS
      operationId: dbNewlyDns
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: JSON array of domains with DNS
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered With DNS. Returns the file/snapshot described by this operation.
components:
  responses:
    ErrorResponse:
      description: Error response (4XX)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
        path:
          type: string
        status: {}
        error:
          type: string
        message:
          type: string
        code:
          type: integer
      additionalProperties: true
      description: Error response. `status` may be an integer (e.g. 401), boolean, or string depending on the endpoint, so it is intentionally untyped to avoid deserialization failures.
  parameters:
    DateParam:
      name: date
      in: query
      schema:
        type: string
        format: date
      description: yyyy-MM-dd; omit for latest
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiKey
