openapi: 3.2.0
info:
  title: WhoisFreaks Databases - DNS API
  description: 'Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting,

    IP Intelligence, Domain Reputation, and bulk database downloads.


    ## Authentication

    All requests require an `apiKey` query parameter.


    ## Resources

    - Docs: https://whoisfreaks.com/documentation

    - Billing: https://billing.whoisfreaks.com

    - Support: support@whoisfreaks.com

    '
  version: 1.0.0
  contact:
    name: WhoisFreaks Support
    email: support@whoisfreaks.com
    url: https://whoisfreaks.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.whoisfreaks.com
  description: API Solutions (live lookups)
- url: https://files.whoisfreaks.com
  description: Database file downloads
security:
- ApiKeyAuth: []
tags:
- name: Databases - DNS
  description: DNS database snapshots
paths:
  /v3.2/download/dbupdate/daily/dns:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - DNS
      summary: DNS Database Daily
      operationId: dbDnsDaily
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: DNS Database Daily. Returns the file/snapshot described by this operation.
  /v3.2/download/dbupdate/weekly/dns:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - DNS
      summary: DNS Database Weekly
      operationId: dbDnsWeekly
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: DNS Database Weekly. Returns the file/snapshot described by this operation.
  /v3.2/download/dbupdate/monthly/dns:
    servers:
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - DNS
      summary: DNS Database Monthly
      operationId: dbDnsMonthly
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: DNS Database Monthly. Returns the file/snapshot described by this operation.
components:
  responses:
    ErrorResponse:
      description: Error response (4XX)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
        path:
          type: string
        status: {}
        error:
          type: string
        message:
          type: string
        code:
          type: integer
      additionalProperties: true
      description: Error response. `status` may be an integer (e.g. 401), boolean, or string depending on the endpoint, so it is intentionally untyped to avoid deserialization failures.
  parameters:
    DateParam:
      name: date
      in: query
      schema:
        type: string
        format: date
      description: yyyy-MM-dd; omit for latest
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiKey
