openapi: 3.2.0
info:
  title: WhoisFreaks Typosquatting API
  description: 'Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting,

    IP Intelligence, Domain Reputation, and bulk database downloads.


    ## Authentication

    All requests require an `apiKey` query parameter.


    ## Resources

    - Docs: https://whoisfreaks.com/documentation

    - Billing: https://billing.whoisfreaks.com

    - Support: support@whoisfreaks.com

    '
  version: 1.0.0
  contact:
    name: WhoisFreaks Support
    email: support@whoisfreaks.com
    url: https://whoisfreaks.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.whoisfreaks.com
  description: API Solutions (live lookups)
- url: https://files.whoisfreaks.com
  description: Database file downloads
security:
- ApiKeyAuth: []
tags:
- name: Typosquatting
  description: Detect typo variants of brand domains
paths:
  /v3.0/domain/typos:
    get:
      tags:
      - Typosquatting
      summary: Typosquatting Lookup
      description: Find typo variants of a brand. 5 credits per page.
      operationId: typosquatting
      parameters:
      - name: keyword
        in: query
        schema:
          type: string
      - name: pattern
        in: query
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TyposquattingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    TyposquattingDomain:
      type: object
      properties:
        domainName:
          type: string
        createDate:
          type: string
        expiryDate:
          type: string
        lastSeen:
          type: string
        isDropped:
          type: boolean
      additionalProperties: true
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
        path:
          type: string
        status: {}
        error:
          type: string
        message:
          type: string
        code:
          type: integer
      additionalProperties: true
      description: Error response. `status` may be an integer (e.g. 401), boolean, or string depending on the endpoint, so it is intentionally untyped to avoid deserialization failures.
    TyposquattingResponse:
      type: object
      properties:
        status:
          type: boolean
        totalRecords:
          type: integer
        currentPage:
          type: integer
        totalPages:
          type: integer
        hasNextPage:
          type: boolean
        nextPageToken:
          type: string
        domains:
          type: array
          items:
            $ref: '#/components/schemas/TyposquattingDomain'
      additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiKey
